<!DOCTYPE html>
<html lang="zh-CH">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/lists.css">
</head>

<body>
    <!-- 头部模块 -->
    <header class="clearfix">
        <h1>
            <a href="index.html">Megrax's Blog</a>
        </h1>
        <h1 class="lists">
            <a href="/posts">Lists</a>
        </h1>
    </header>

    <!-- 中部导航栏模块 -->
    <%- include('./partials/top_nav.ejs') %>

    <!-- 主体模块 -->
    <section class="w clearfix">
        <!-- 博文列表展示 -->
        <div class="posts w">

            <% posts_list.forEach(function(post) { %>
            <div class="a_post">
                <h2><a href="#"><%= post.ptitle %></a></h2>
                <div class="date"><%= post.pcreated_at %></div>
            </div>
            <% }); %>




            <!-- 置顶按钮 -->
            <button type="button" onclick="backTop();" class="home iconfont clearfix">&#xe648;</button>
        </div>
    </section>

    <!-- 底部模块 -->
    <%- include('./partials/footer.ejs'); %>
</body>

</html>